configuration{
	
	display-drun: " ";
	display-run: " ";
	display-window: "Window";
	drun-display-format: "{icon} {name}";
	show-icons: true;
	modi: "run,drun,emoji";

}

@theme "~/.config/rofi/themes/one_dark.rasi"
